.main {
  font-family: var(--font-raleway);
  font-weight: 100;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.article > span {
  font-size: 3rem;
  color: var(--color-dark-gray);
}

.article > p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
}

.name {
  font-size: 10rem;
  margin: 0;
  font-style: italic;
}
